[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
gym = "*"
matplotlib = "*"
seaborn = "*"
box2d-py = "*"
box2d = "*"
scikit-learn = "*"
tensorboard = "*"

[requires]
python_version = "2.7"
